@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:ital,wght@0,500;0,700;1,500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
.backgroung-gradient {
  background-image: linear-gradient(90deg, #2937f0, #9f1ae2);
}
.price-text {
  font-weight: 700;
}
.choose-plan-button-background-color {
  background-color: #fce1f2fb;
}
.hot-choose-plan-button-background-color {
  background-color: white;
}
.our-package-section-margin {
  margin-bottom: 200px;
}
.hot-offer-text {
  top: -20px;
  left: 250px;
}
/* .minus-margin { */
/* margin-top: -60px; */
/* margin-top: 40px; */
/* margin-bottom: 40px; */
/* padding: 30px; */
/* } */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #hot {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #banner-caption {
    font-size: 10px;
    font-weight: 700;
  }
  #banner-description {
    /* display: none; */
    font-size: 5px;
  }
}

.touch-bg-info {
  height: 400px;
  background-color: #fceae8;
}

/* Style for positioning toast */
.toast {
  position: absolute;
  top: 10px;
  right: 10px;
}
